<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Api4ever</title>

  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
  <script src="./assets/main.js" defer></script>

  <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>
  <header>
    <span class="logo">Api4ever</span>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <td>req type</td>
          <td>path</td>
          <td>amount</td>
          <td><button class="btn">try</button></td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </main>

  <footer>Api4ever</footer>
</body>

</html>